---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'location.href',
  owner: 'uraplutonium',
  repo: 'uraplutonium.github.io',
  oauth: {
    client_id: '0ec1969a27481a1a7c9d',
    client_secret: '3243958b3c71ca5668680c165a8fc18446d0e0d6',
  },
})
gitment.render('container')
</script>
